* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.stopwatch-container {
  background-color: #0a0a0a;
  border: 1px solid #252525;
  border-radius: 17px;
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 550px;
}

.stopwatch-title {
  font-size: 26px;
}

.stopwatch-display {
  color: white;
  font-size: 95px;
  font-family: 'Google Sans Code';
}

.stopwatch-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stopwatch-controls button {
  background-color: hsl(338, 100%, 55%);
  color: white;
  border: none;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  font-size: 35px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.stopwatch-controls button:hover {
  background-color: hsl(338, 100%, 45%);
}
